---
import GitHub from "../components/icons/GitHub.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Button from "./Button.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const aboutPath = `/${lang}/about`
const homePath = `/${lang}/`
---

<nav class="flex flex-col justify-around items-center sm:flex-row w-full h-28 bg-black sticky top-0 z-10">

  <div class="flex items-center space-x-8 sm:mx-auto">
    <a href="/" class="text-gray-300 hover:text-white font-medium text-lg">{t('nav.home')}</a>
    <a href={aboutPath} class="text-gray-300 hover:text-white font-medium text-lg">{t('nav.about')}</a>
  </div>

  <div class="flex items-center space-x-8 sm:mx-auto">
  
    <div class="flex items-center space-x-4">
      <a href="https://github.com/Zeroxys" class="text-gray-300 hover:text-white" target="_blank" rel="noopener noreferrer">
        <GitHub class="icon text-white w-8 h-8" />
      </a>
      <a href="https://www.linkedin.com/in/miguel-angel-zavala-castillo/" class="text-gray-300 hover:text-white" target="_blank" rel="noopener noreferrer">
        <LinkedIn class="icon text-white w-8 h-8" />
      </a>
    </div>

    <div class="relative" x-data="{ open: false }">
      <button @click="open = !open" class="w-32 sm:w-40 bg-gray-800 text-white px-4 py-2 rounded-md border border-gray-700 focus:outline-none focus:border-gray-900">
        {t('nav.language')}
      </button>
      <ul x-show="open" class="absolute z-10 top-full left-0 bg-gray-800 border border-gray-700 rounded-md mt-1" @click.away="open = false">
        {Object.entries(languages).map(([lang, label]) => (
          <li>
            <a href={homePath} class="block px-4 py-2 text-white hover:bg-gray-700">{label}</a>
          </li>
        ))}
      </ul>
    </div>
    <Button class="hidden sm:block">
      {t('nav.resume')}
    </Button>
  </div>
</nav>

<style>
  .icon {
    stroke: white;
    stroke-width:1.5;
  }

  .icon:hover {
    stroke: url(#gradient);
  }
</style>